
<div class="container-fluid" #container>
  <div class="row">
      <div class="col-3">
       <div class="row card-estastisticas ">
        <div class="d-flex justify-content-center ">
          <p class="title">Estastisticas do dia</p>
          <p class="dia">{{data | date}}</p>
        </div>

        <div class="d-flex justify-content-center">
          <div class="card text-start card-menor ">
            <h5 class="card-header">Ganhos</h5>
            <div class="card-body">
              <h4 class="card-title ">
                12323 bolsas 
                <span class="float-right">
                  <i class="bi bi-arrow-down"></i>
                </span>
              </h4>
              <p class="card-text m-0">Comparado com 31231 ontem</p>
              <p class="card-text value m-0">quantidade da semana passada 2523123123</p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="card text-start card-menor mt-3">
            <h5 class="card-header">Produção</h5>
            <div class="card-body">
              <h4 class="card-title ">
                12323 bolsas 
                <span class="float-right">
                  <i class="bi bi-arrow-down"></i>
                </span>
              </h4>
              <p class="card-text">Comparado com 31231 ontem</p>
              <p class="card-text value">quantidade da semana passada 2523123123</p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="card card-maior text-start mt-3">
            <h5 class="card-header">Ganhos</h5>
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Body</p>
              <p class="card-text">Body</p>
            </div>
          </div>
        </div>
       </div>


      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-12"></div>
          <div class="col-12"></div>
          <div class="col-12"></div>
        </div>
      </div>
  </div>
</div>
