<div [formGroup]="formGroup" class="form-outline position-relative">
  <div class="input-group">
    <ng-container *ngIf="icon">
      <span class="input-group-text">
        <i [ngClass]="icon"></i>
      </span>
    </ng-container>
    <input
      [id]="control"
      [formControlName]="control"
      [type]="type"
      class="form-control"
      [ngClass]="{
        'is-valid': controlValue.valid && (controlValue.touched || controlValue.dirty),
        'is-invalid': controlValue.invalid && (controlValue.touched || controlValue.dirty)
      }"
      [attr.aria-required]="required ? 'true' : null"
      [attr.aria-invalid]="controlValue.invalid && (controlValue.touched || controlValue.dirty) ? 'true' : null"
      [attr.aria-describedby]="control + '-feedback'"
      maxlength="255"
      placeholder=" " 
    />
    <label [for]="control" class="form-label">
      <ng-container *ngIf="icon">
        <i [ngClass]="icon" class="input-icon"></i>
      </ng-container>
      {{ label | titlecase }}
      <span *ngIf="required" class="text-danger">*</span>
    </label>
  </div>
  <div class="character-count">
    {{ controlValue.value.length }}/255 characters
  </div>
  <div *ngIf="controlValue.invalid && (controlValue.touched || controlValue.dirty)" class="invalid-feedback">
    <ng-container *ngIf="controlValue.errors?.['required']">
      This field is required.
    </ng-container>
    <!-- Add more error messages here as needed -->
  </div>
</div>
