<div class="container-fluid" >
    <h1>Empresas parceiras

        <span class="float-end">
            <button class="btn btn-primary">nova <i class="bi bi-building-add"></i></button>
        </span>
    </h1>
   <div class="row justify-content-center">
    <div class="col-xl-10 ofsset-xl-1" *ngFor="let item of listaEmpresa; index as i">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <p class="text-muted m-0">Empresa</p>
                        <p class="text-muted m-0 fw-bold text-truncate" [title]="item?.name">{{item?.name}}</p>
                        <p class="text-muted m-0">Documento</p>
                        <p class="text-muted m-0 fw-bold text-truncate" [title]="item?.documento">{{item?.documento}}</p>

                    </div>
                    <div class="col-3">
                        <p class="text-muted m-0">Telefone</p>
                        <p class="text-muted m-0 fw-bold text-truncate" [title]="item?.telefone">{{item?.telefone}}</p>
                        <p class="text-muted m-0">Cep</p>
                        <p class="text-muted m-0 fw-bold text-truncate" [title]="item?.cep">{{item?.cep}}</p>
                    </div>
                    <div class="col-3">
                        <p class="text-muted m-0">Endereco</p>
                        <p class="text-muted m-0 fw-bold text-truncate" [title]="item?.endereco">{{item?.endereco}}-{{item?.numero}}</p>
                        <p class="text-muted m-0">Logradouro</p>
                        <p class="text-muted m-0 fw-bold text-truncate" [title]="item?.logradouro">{{item?.logradouro}}-{{item?.numero}}</p>
                    </div>
                    <div class="col-3 text-left">
                        <div class="row align-items-left ">
                            <div class="col-12">
                                <button class="btn btn-warning">Editar</button>
                            </div>
                            <div class="col-12 mt-3">
                                <button class="btn btn-danger">Desativar</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   </div>
</div>
<!-- {
    "id": 2,
    "name": "Luciana e Gustavo Limpeza ME",
    "documento": "14788363000148",
    "telefone": "1128541636",
    "cep": "08210715",
    "endereco": "Rua Gonçalves Dias",
    "logradouro": "Rua Gonçalves Dias",
    "numero": 1111,
    "complemento": "casa 1",
    "createdAt": "2024-07-13T19:05:00.409Z",
    "updatedAt": "2024-07-13T19:05:00.409Z"
} -->