.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .offcanvas-title {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .offcanvas-subtitle {
    margin: 0;
    font-size: 0.875rem;
    color: #6c757d;
  }
  
  .offcanvas-body {
    padding: 1rem;
    overflow-y: auto;
  }
  
  .sidebar-modal .offcanvas {
    width: 300px; /* Largura do sidebar */
  }
  .offcanvas-body {
    padding: 1rem; /* Ajuste o padding conforme necessário */
  }
  
  /* InputCommonsComponent (input-commons.component.scss) */
  .form-control {
    margin-bottom: 1rem; /* Adicione margem para separar os inputs */
  }